<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
     
     <title>One Page Resume</title>

     <style type="text/css">
        * {
             margin: 0; 
             padding: 0; 
           }
        body 
        { 
        	  background-image: url("bag.jpeg");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
        }
        .clear 
        { 
        	clear: 
        	both; 
        }
        #page-wrap 
        { 
        	width: 800px; 
        	margin: 40px auto 60px; 
        }
        #pic 
        { 
        	float: right; 
        	margin: -30px 0 0 0; 
        }
        h1 
        { 
        	margin: 0 0 16px 0; 
        	padding: 0 0 16px 0; 
        	font-size: 42px; 
        	font-weight: bold; 
        	letter-spacing: -2px; 
        	border-bottom: 1px solid #800; 
        }
        h2 
        { 
        	font-size: 20px; 
        	margin: 0 0 6px 0; 
        	position: relative; 
        }
        h2 span 
        { 
        	position: absolute; 
        	bottom: 0; 
        	right: 0; 
        	font-style: italic; 
        	font-family: Georgia, Serif; 
        	font-size: 16px; 
        	color: #999; 
        	font-weight: normal; 
        }
        p 
        { 
        	margin: 0 0 21px 0; 
        }
        a 
        { 
        	color: #550; 
        	text-decoration: none; 
        	border-bottom: 1px dotted #999; 
        }
        a:hover 
        { 
        	border-bottom-style: 
        	solid; color: black; 
        }
        ul 
        { 
        	margin: 0 0 32px 17px; 
        }
        #objective 
        { 
        	width: 500px; 
        	float: left; 
        }
        #objective p 
        { 
        	font-family: Georgia, Serif; 
        	font-style: bold; 
        	color: #900; 
        }
        dt 
        { 
        	font-style: italic; 
        	font-weight: bold; 
        	font-size: 18px; 
        	text-align: right; 
        	padding: 0 26px 0 0; width: 150px; 
        	float: left; height: 100px; 
        	border-right: 1px solid #999;  
        }
        dd 
        { 
        	width: 600px; 
        	float: right; 
        }
        dd.clear 
        { 
        	float: none; 
        	margin: 0; 
        	height: 15px; 
        }
     </style>
</head>

<body >
	
    <div id="page-wrap">
    
        <img src="arvind.png" alt="Photo of Arvind" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">ARVIND KUMAR</h1>
        
            <p>
                Cell: <span class="tel">+91-8228059429</span><br />
                Email: <a class="email" href="mailto:Akn0038@gmail.com">Akn0038@gmail.com</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and energetic young professional, seeking a 
                career that fits my professional skills, personality, and murderous tendencies. 
                My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
                I can bring world domination to your organization. 
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>National Institute Of Technology Agartala</h2>
                <p><strong>Major:</strong> Bachlor Of Technology<br />
                   <strong>Minor:</strong> Computer Science And Engineering</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Technology Known</h2>
                <p>C, C++,HTML,CSS, JAVASCRIPT, Node.js, Express</p>
                
                <h2>Computer skills</h2>
                <p>Sublime, VS Code, Algorithms Analaysis</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Projects</dt>
            <dd>
                <h2>Blogging website <span>NIT Agartala - Feb-2020</span></h2>
                <ul>
                    <li>User can signup, logout ,create post ,follow other user, live chat and can Like comment on posts.</li>
                    <li>Technology Used:- Javascript Node.js express ejs And mongoDb for database., Deployed on digitalocean cloud.</li>
                </ul>
                <h2>Filter tweet by search Query <span>NIT Agartala - Feb-2020</span></h2>
                <ul>
                    <li>User can filter twitter by entering key word.</li>
                    <li>Technology Used:- Twitter API, Javascript Node.js express ejs And mongoDb for database., Deployed on digitalocean cloud</li>
                </ul>
                <h2>To-Do Web based App <span>NIT Agartala - Jan-2020</span></h2>
                <ul>
                    <li>User can create their TO-DO list, edit And Delete the list.</li>
                    <li>Technology Used:- Javascript Node.js express And mongoDb for database.. Deployed on digitalocean cloud.</li>
                </ul>
                <h2>Snake Game <span>NIT Agartala - Oct-2018</span></h2>
                <ul>
                    <li>C++ Algorithm And Graphics Was used</li>
                    <li>A Player can control the movements of snake.</li>
                </ul>
                
                <h2>Writing And Drawing Machine (Team Work) <span>NIT Agartala  Dec-2018</span></h2>
                <ul>
                    <li>This machine can draw any design and write any type of fonts.</li>
                    <li>Made the basic circuitry of the robot.</li>
                    <li>Presented the project in AAYAM, the annual tech fest of NITA.</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Academic Achievements</dt>
            <dd><li>ICPC-2019:- INDIA Regionals Final ,IIT KHAGRAPUR Region (Bagged Rank 72)</li></dd>
            <dd><li>Smart India Hackathon 2020 (SIH2020):-Selected for grand finale  </li></dd>
            <dd><li>CODATHON-Inter NIT Coding Competation 2020. Bagged 60 Overall Rank,Around 6000 people Participated </li></dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

    </div>

</body>

</html>